# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# git worktrees
.worktrees/

# dependencies
/node_modules
.pnpm-store/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# logs
/logs

# Sentry Config File
.env.sentry-build-plugin
.env*.local

#CLAUDE.md
#AGENTS.md

.omc/
.omx/
.omo/

.pnpm-store/.worktrees/
.playwright-mcp/

.serena/